@use "../../settings/variables" as *;

.shareModal {
  position: relative;
  height: 100%;

  button {
    font-weight: bold;
    border-width: 2px;

    &[aria-expanded="true"] {
      background-color: $color-teal-0;
    }
  }

  &__dropdown {
    background-color: $bg-lightest;
    border: $border-1;
    box-shadow: $box-shadow-2;
    position: absolute;
    top: 4rem;
    right: 0;

    a {
      font-weight: 500 !important;
      line-height: 175%;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration-color: transparent;

      svg {
        margin-top: -6px;
        margin-right: 12px;
        flex-basis: 1.5rem;
        width: 1.5rem;
      }

      &:hover {
        text-decoration-color: currentColor;
      }
    }
  }
}
