@use "../settings/variables" as *;
@use "../tools/mixins/media" as media;
.about {
  background-color: $bg-lightest;

  &__header {
    background-color: $color-teal-0;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: space-between;

      > div {
        flex-grow: 1;
        flex-basis: 60%;
      }
    }

    h2 {
      padding-top: 5.75rem;
    }

    p {
      font-weight: 500;
      line-height: 175%;
      margin-top: 12px;
      padding-bottom: 5.5rem;
    }

    figure {
      filter: $drop-shadow;
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: -6rem;
      padding-top: 4rem;

      flex-basis: 0;
      flex-grow: 999;
      min-width: 37%;

      @include media.narrowerThan("plant") {
        padding-top: 0;
      }
    }

    img {
      max-width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  &__process {
    margin-top: 4rem;

    @include media.narrowerThan("plant") {
      margin-top: 8rem;
    }

    h2 {
      max-width: 696px;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      margin-top: 8rem;

      &:first-of-type {
        margin-top: 4rem;
      }

      figure {
        flex-grow: 1;

        img {
          border-radius: 16px;
          object-fit: cover;
          max-width: 100%;
        }
      }

      section {
        flex-basis: 0;
        flex-grow: 999;
        min-width: 50%;
        max-width: 696px;
      }

      h3 {
        font-size: 1.75rem;
        font-weight: 800;
        line-height: 130%;
      }

      ul {
        list-style: disc;
        margin-top: 1.25rem;
        margin-left: 1rem;
      }

      li {
        line-height: 175%;
        font-weight: 500;
        margin-top: 0.5rem;
      }
    }
  }

  &__analysis {
    background-color: $color-teal-0;
    padding: 5rem 0;
    margin-top: 7rem;

    .container > div {
      margin-top: 5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
    }

    section {
      flex: 1 25rem;

      h3 {
        font-weight: 800;
        font-size: 22px;
        line-height: 145%;
      }

      p {
        font-weight: 500;
        line-height: 175%;
        margin-top: 0.5rem;
      }

      a {
        margin-top: 1.75rem;
      }
    }
  }

  &__end {
    margin-top: 5rem;
    padding-bottom: 6rem;
    margin-bottom: -5rem;

    &-para {
      font-weight: 500;
      line-height: 175%;
      margin-top: 1rem;
    }
  }

  .banner {
    margin-top: 5rem;

    &__content {
      p {
        margin-top: 0;
        font-weight: 500;
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: 1rem;
      }

      .btn-primary-invert {
        background-color: $bg-lightest;
      }

      button {
        svg {
          margin: 0 0 -4px 8px;
        }
      }
    }
  }
}
