@use "../settings/variables" as *;
@use "../tools/mixins/media" as media;
.about {
  background-color: $bg-lightest;

  a {
    font-weight: 600;
    color: $color-primary;
  }

  &__initiative {
    padding-top: 3.5rem;
    max-width: 1038px;
    margin-inline: auto;

    p {
      font-weight: 500;
      line-height: 175%;
      margin-top: 8px;

      &.about__bold {
        font-weight: 800;
        font-size: 18px;
        line-height: 156%;
        margin-top: 1.5rem;
        color: $text-light-medium;
      }
    }

    h3 {
      font-weight: 800;
      font-size: 18px;
      line-height: 156%;
      color: $text-light-medium;
      margin-top: 1.5rem;
    }

    ol {
      counter-reset: list;
      padding-left: 1rem;
    }

    li {
      font-weight: 500;
      line-height: 175%;
      margin-top: 12px;
      list-style: none;

      &::before {
        content: "(" counter(list, lower-alpha) "). ";
        counter-increment: list;
        font-weight: bold;
      }
    }
  }

  &__team {
    margin-top: 4rem;
    padding-bottom: 5.5rem;
    max-width: 1038px;
    margin-inline: auto;

    p {
      font-weight: 800;
      font-size: 18px;
      line-height: 156%;
      color: $text-light-medium;
      margin-top: 0.5rem;
    }

    ul {
      margin-top: 2rem;
      display: grid;
      gap: 12px;
      justify-content: space-between;

      @supports (width: min(250px, 100%)) {
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
      }
    }

    a {
      text-decoration-color: transparent;
      color: $color-primary;
      font-weight: bold;
      line-height: 175%;
      transition: text-decoration-color 0.3s ease;

      svg {
        margin-left: 12px;
        fill: #abb0b0;
        transition: fill 0.3s ease;
      }

      &:hover {
        text-decoration-color: currentColor;

        svg {
          fill: #4083c5;
        }
      }
    }
  }

  &__partners {
    background-color: $bg-light;
    width: 100%;
    padding-top: 5.5rem;

    .container {
      max-width: 1038px;
      margin-inline: auto;

      display: grid;
      gap: 4rem;
      justify-content: space-between;

      @supports (width: min(250px, 100%)) {
        grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
      }
    }

    section {
      // width: 48%;

      div {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 1rem;
      }
    }

    figure {
      background-color: $bg-lightest;
      padding: 2rem;
      border-radius: 50%;
      border: $border-1;
    }

    p {
      font-weight: 500;
      line-height: 175%;
    }
  }
}
