@use "../settings/variables" as *;

.faq {
  &__header {
    margin-top: 4rem;
    border-bottom: $border-1;
    padding-bottom: 2.5rem;
    max-width: 1038px;
    margin-inline: auto;
  }

  &__content {
    margin-top: 3rem;
    margin-inline: auto;
    max-width: 1038px;

    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 156%;
      cursor: pointer;

      border-radius: 8px;
      background-color: $bg-lightest;
      margin-top: 1.5rem;

      button {
        padding: 1rem;
        border: 0;
        display: flex;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        span {
          text-align: left;
        }

        &:focus svg {
          outline: 2px solid;
        }
      }

      svg {
        height: 1em;
        margin-left: 0.5em;
      }
    }

    p,
    ol,
    ul {
      font-weight: 500;
      line-height: 175%;
      padding: 0 1rem 1rem;
      background-color: $bg-lightest;
    }

    ol {
      padding-left: 2rem;
      list-style: decimal;

       li > ul, ol {
        list-style: lower-alpha;
      }
    }

    [aria-expanded="true"] {
      color: $color-teal;
      fill: $color-teal;

      .vert {
        display: none;
      }
    }

    [aria-expanded] rect {
      fill: currentColor;
    }
  }
}
