@use '../../settings/variables' as *;

.home-header {
  .wrapper {
    padding: 9rem 5vw 0;
  }

  h2 {
    color: $color-primary;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
    font-size: 12px;
  }

  li {
    margin-top: 1.5rem;
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;

    span {
      background-color: $color-primary;
      border-radius: 4px;
      height: 100%;
      width: 4px;
      display: inline-block;
      margin-right: 1rem;
      margin-top: 0.5rem;

      &:empty:before {
        content: '\00a0';
      }
    }
  }
}
