@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.home-insights {
  background-color: $bg-lightest;
  padding-top: 4.5rem;
  padding-bottom: 15rem;

  display: flex;
  flex-wrap: wrap;

  #schemeSelector {
    flex-grow: 1;
    text-align: right;
    flex-basis: 20%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;

    li {
      margin-top: 2rem;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      font-size: 1.25rem;
      text-decoration: none;
      color: $text-light-light;
      font-weight: 600;

      &[aria-selected='true'] {
        color: $color-primary;
        font-weight: 500;
        font-size: 2.5rem;
        font-weight: 900;
        display: flex;
        align-items: center;

        &:before {
          background-color: $color-primary;
        }
      }

      &:before {
        content: '\00a0';
        border-radius: 4px;
        height: 4px;
        width: 64px;
        display: block;
        margin-right: 1rem;
      }
    }
  }

  &__content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 80%;
    background-color: $color-primary;
    background: url('/assets/images/insight-bg-1.jpg') no-repeat;
    background-size: cover;
    border-radius: 16px 0px 0px 16px;
    padding: 4.5rem 2rem 4.5rem 4.5rem;
    padding-left: clamp(2.5rem, 10%, 4.5rem);
    color: $text-dark-high;
    position: relative;
    min-height: 525px;

    h3 {
      font-size: 2.5rem;
      font-weight: 900;
      line-height: 130%;
    }

    p {
      line-height: 156%;
      font-weight: 600;
      font-size: 18px;
    }

    a {
      background-color: $bg-lightest;
      color: $text-light-high;
      font-weight: bold;
      line-height: 175%;
      padding: 12px 24px;
      // margin-top: 2rem;

      &:hover {
        color: $text-light-medium;
      }
    }
  }

  section {
    display: flex;
    max-width: 65rem;
    height: 100%;

    > div {
      display: grid;
      gap: 1rem;

      > div {
        border-top: 1px solid rgba(255, 255, 255, 0.16);
        width: 100%;
        align-self: flex-end;
        padding-top: 2rem;
      }
    }
  }

  img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    mix-blend-mode: multiply;
    height: 100%;
    width: 40%;
    object-fit: cover;
  }

  &__insights {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    li {
      border-left: 2px solid $grey-3;
      padding-left: 1rem;
      line-height: 1.5;
    }
  }

  @include media.narrowerThan('sprout') {
    img {
      display: none;
    }
  }
}
