@use "../../settings/variables" as *;

.home-video {
  position: relative;

  figure {
    position: absolute;
    inset: 0;
    top: 0;
  }

  &__content {
    padding-top: 4.75rem;
    position: inherit;
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__desc {
    color: $text-dark-high;
    line-height: 1.5;
    text-align: center;
  }

  &__item {
    margin-top: 12rem;

    img {
      filter: $drop-shadow;
      border-radius: 32px;
      max-width: 100%;
      object-fit: cover;
    }
  }

  h2 {
    line-height: 114%;
    font-weight: 900;
    font-size: 3.5rem;
  }

  p {
    margin-top: 1rem;
    font-weight: 500;
    line-height: 175%;
  }
}
