@use "./variables" as *;

// header
$bg-header: $bg-light;
$text-header: $text-light-high;

// navbar
$nav-bg: $bg-lightest;
$nav-bg-2: $color-carrot;
$nav-text: $text-light-high;
$bg-submenu: $color-teal;

// footer
$bg-footer: $color-black;
$text-footer: $text-dark-high;
$link-footer: $color-primary;

// button
$btn-primary-bg: $color-primary;
$btn-primary-text: $text-dark-high;

$btn-secondary-bg: $color-teal;
$btn-secondary-text: $bg-lightest;

// selection
$selection-bg: lighten($color-primary, 60);
$selection-text: $color-primary;
