@use "../settings/theme" as *;
@use "../tools/mixins/media" as media;

@mixin button {
  padding: 12px 24px;
  line-height: 133%;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 200ms ease;
  display: block;
  width: max-content;
  font-weight: bold;

  @include media.narrowerThan("sprout") {
    font-size: 0.9rem;
  }

  svg {
    margin-right: 6px;
  }
}

.btn-primary {
  @include button;
  background-color: $btn-primary-bg;
  color: $btn-primary-text;
  border: 1px solid $btn-primary-bg;

  &:hover {
    background-color: darken($btn-primary-bg, 10) !important;
  }
}

.btn-primary-invert {
  @include button;

  border: 2px solid $btn-primary-bg;
  color: $btn-primary-bg;
  background-color: none;

  &:hover {
    color: darken($btn-primary-bg, 10);
    border-color: darken($btn-primary-bg, 10);
  }
}

.btn-secondary {
  @include button;
  background-color: $btn-secondary-bg;
  color: $btn-secondary-text;
  border: 1px solid $btn-secondary-bg;

  &:hover {
    background-color: lighten($btn-secondary-bg, 5);
  }

  &-mini {
    @include button;
    background-color: $btn-secondary-bg;
    color: $btn-secondary-text;
    border: 1px solid $btn-secondary-bg;
    font-size: 12px;
    padding: 8px 12px;

    &:hover {
      background-color: lighten($btn-secondary-bg, 5);
    }
  }
}

.btn-secondary-invert {
  @include button;

  border: 1px solid $btn-secondary-bg;
  color: $btn-secondary-bg;
  background-color: $btn-secondary-text;

  &:hover {
    background-color: darken($btn-secondary-text, 10);
  }

  &-mini {
    @include button;
    border: 1px solid $btn-secondary-bg;
    color: $btn-secondary-bg;
    background-color: $btn-secondary-text;
    font-size: 12px;
    padding: 8px 12px;

    &:hover {
      background-color: darken($btn-secondary-text, 10);
    }
  }
}
