@use "../settings/variables" as *;
@use "../tools/mixins/media" as media;

@mixin heading {
  font-weight: 900;
  font-size: 2.5rem;
}

.label-green {
  line-height: 140%;
  font-weight: 500;
  color: $bg-darkest;
}

.heading {
  @include heading();
  line-height: 130%
}

.heading3-w-line {
  @include heading();
  line-height: 130%;
  border-bottom: 1px solid $grey-4;
}

.heading-3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 92%;
}
