@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.banner {
  margin-top: 7rem;
  isolation: isolate;
  padding: 4rem 3rem;
  color: $text-dark-high;
  border-radius: 40px;
  position: relative;

  &__content {
    width: clamp(250px, 100%, 700px);
    z-index: 10;

    h2 {
      line-height: 130%;
    }

    > a {
      margin-top: 14px;
    }
  }

  figure {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    @include media.narrowerThan('seedling') {
      display: none;
    }
  }

  p {
    line-height: 1.5;
    margin-top: 0.5rem;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    font-weight: 600;
  }
}
