@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.indicator {
  scrollbar-width: thin;
  background-color: $bg-lightest;
  filter: $drop-shadow;
  border: 1px solid hsl(300, 10%, 94%);
  border-radius: 4px;
  height: max-content;
  max-height: 776px;
  padding: 1.5rem;
  height: 100%;

  &::-webkit-scrollbar {
    width: 5px;
  }

  fieldset {
    > div {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    input {
      transform: scale(1.5);
      accent-color: #666d6e;

      &:checked + label {
        font-weight: bold;
      }
    }

    label {
      font-weight: 500;
      line-height: 175%;
      margin-bottom: -3px;
    }
  }

  @include media.narrowerThan('sprout') {
    display: none;
  }
}
