@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.search {
  flex-grow: 1;
  margin-right: 1rem;
  position: relative;

  &__buttons {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    display: none;

    button {
      cursor: pointer;
    }
  }

  &__submit {
    color: $bg-lightest;
    border-radius: 2px;
  }

  &__clear {
    color: $color-primary;
    width: 44px;
    border-radius: 2px;

    button {
      cursor: pointer;
    }
  }

  &__input {
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    box-shadow: $box-shadow-inset;
    padding: 0.6rem 0 0.6rem 2.5rem;
    background-color: $bg-lightest;
    transition: background-color 150ms ease;
    width: 100%;
    line-height: 1.4;

    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 14.5L10.5 10.5M6.5 12.5C3.18629 12.5 0.5 9.81371 0.5 6.5C0.5 3.18629 3.18629 0.5 6.5 0.5C9.81371 0.5 12.5 3.18629 12.5 6.5C12.5 9.81371 9.81371 12.5 6.5 12.5Z' stroke='%23075E54'/%3E%3C/svg%3E%0A");
    background-position: left 1rem top 50%, 0 0;
    background-repeat: no-repeat, repeat;

    &:not([value='']) {
      background-color: $bg-lightest;

      + .search__buttons {
        display: flex;
      }
    }
  }
  &__select {
    background-position: right 10% top 55%, 0 0;

    @include media.narrowerThan('sprout') {
      display: none;
    }
  }
}
