@use "../../settings/variables" as *;
@use "../../tools/mixins/media" as media;

.toggle {
  position: relative;

  button {
    &[aria-pressed="true"] {
      + [role="status"] {
        opacity: 100;
        width: 212px;
      }
    }

    svg {
      pointer-events: none;
    }
  }

  [role="status"] {
    position: absolute;
    max-width: 50vw;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    padding: 10px 12px;
    background-color: $grey-2;
    color: $text-dark-high;
    border: 1px solid $grey-2;
    border-radius: 8px;
    bottom: 150%;
    left: -8rem;
    z-index: 10;
    opacity: 0;
    width: 0;
    isolation: isolate;

    &::before {
      border-left: 0.8em solid transparent;
      border-right: 0.8em solid transparent;
      border-top: 0.8em solid $grey-2;
      bottom: -0.8em;
      content: " ";
      height: 0;
      left: 8rem;
      width: 0;
      position: absolute;
      z-index: 9;
    }

    @include media.narrowerThan("seed") {
      left: -10rem;

      &::before {
        left: 10rem;
      }
    }
  }
}
